<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{%block title%} Blog de autores y libros {%endblock title%}</title>
        {%block css%}
        {%endblock css%}
    </head>
        <body>
            {%block menu%}
            <ul>
            <li><a href="/author/">Autores</a></li>
            <li><a href="/book/">Libros</a></li>
            </ul>

            {%endblock menu%}
            {%block content%}
            {%endblock content%}
        </body>
</html>