{% extends "base.html" %}

{% block title %}{{ torneo.nombre }}{% endblock %}

{% block content %}
    <h1>{{ torneo.nombre }}</h1>
    
    <p><strong>Fecha Inicio:</strong> {{ torneo.fecha_inicio }}</p>
    <p><strong>Fecha Fin:</strong> {{ torneo.fecha_fin }}</p>

    <h3>Equipos Participantes:</h3>
    <ul>
        {% for equipo in torneo.equipos_participantes.all %}
            <li>{{ equipo.nombre }} (Creado por {{ equipo.creado_por.username }})</li>
        {% empty %}
            <li>No hay equipos inscritos en este torneo.</li>
        {% endfor %}
    </ul>

    <hr>
    <a href="{% url 'torneo_update' torneo.id %}">Editar Torneo</a> | 
    <a href="{% url 'torneo_list' %}">Volver a la lista</a>
{% endblock %}