<div class="contenedor-principal">
  
  <mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar vacante" #input>
  </mat-form-field>

  <div class="mat-elevation-z8 tabla-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Entity Column -->
      <ng-container matColumnDef="entidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Entidad </th>
        <td mat-cell *matCellDef="let row"> {{row.entidad?.entidad}} </td>
      </ng-container>

      <!-- Cycle Column -->
      <ng-container matColumnDef="ciclo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciclo </th>
        <td mat-cell *matCellDef="let row"> {{row.ciclo?.ciclo}} </td>
      </ng-container>

      <!-- Course Column -->
      <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso </th>
        <td mat-cell *matCellDef="let row"> {{row.curso}} </td>
      </ng-container>

      <!-- Num Vacancies Column -->
      <ng-container matColumnDef="num_vacantes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. Vacantes </th>
        <td mat-cell *matCellDef="let row"> {{row.num_vacantes}} </td>
      </ng-container>

      <!-- Num Assigned Students Column -->
      <ng-container matColumnDef="num_alumnos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. Asignados </th>
        <td mat-cell *matCellDef="let row"> {{row.num_alumnos}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="editarVacante(row)">
            <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="eliminarVacante(row.id_vacante)">
            <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="gestionarAlumnos(row)" title="Gestionar Alumnos">
            <mat-icon>group</mat-icon>
            </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">No hay datos "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
  <button mat-fab color="primary" class="boton-flotante" (click)="crearVacante()">
    <mat-icon>add</mat-icon>
  </button>
</div>

