.contenedor-principal {
    padding: 20px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.boton-flotante {
    position: fixed;
    bottom: 40px;
    right: 40px;
}
